<% unless f.error_messages.blank? %>
  <div class="alert-message block-message error">
    <%= f.error_messages %>
  </div>
<% end %>

<div class="well">
  <%= f.label(:first_name, "First Name") %>
  <%= f.text_field(:first_name) %> <span class="label important">Required</span>
  <%= f.label(:last_name, "Last Name") %>
  <%= f.text_field(:last_name) %> <span class="label important">Required</span>
  <%= f.label(:display_name, "Preferred name to be displayed") %>
  <%= f.text_field(:display_name) %> <span class="label important">Required</span>
  <%= f.label(:email, "Email address") %>
  <%= f.text_field(:email) %> <span class="label important">Required</span>
  <%= f.label :password, "Password" %> <b>(6 chars minimum, no special characters, at least 1 digit, and at least 1 capital letter.)</b>
  <%= f.password_field(:password) %> <span class="label important">Required</span>
  <%= f.label(:password_confirmation,"Password Confirmation") %>
  <%= f.password_field(:password_confirmation) %> <span class="label important">Required</span>
  <%= f.label(:preferred_language, "Preferred language") %>
  <%= f.select(:preferred_language, ["English","Spanish"]) %>
  <% user.role_requests.build if user.role_requests.empty? %>
  <%= f.label :rollcall_jurisdiction_id,  "Choose your home jurisdiction from the dropdown.  Choose a county or one of the DSHS Health Service Regions listed under 'R' for 'Region'." %>
  <%= f.collection_select( :rollcall_jurisdiction_id,  @jurisdictions, :id, :name, {:include_blank => true}, {:class => "home_jurisdiction"}) %> <span class="label important">Required</span>
  <input type="hidden" name="user[organization_membership_requests_attributes][0][organization_id]" id="user_organization_membership_requests_attributes_0_organization_id" value="1" />
</div>