<%= form_for @school, url: url do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :school_type %>
    <%= f.select :school_type, ['High School', 'Middle School', 'Elementary School', 'Multilevel School'], {include_blank: true}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tea_id, 'State ID' %>
    <%= f.text_field :tea_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :postal_code, 'Zip Code' %>
    <%= f.text_field :postal_code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :gmap_addr, 'Address' %>
    <%= f.text_field :gmap_addr, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :gmap_lat, 'Latitude' %>
    <%= f.text_field :gmap_lat, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :gmap_lng, 'Longitude' %>
    <%= f.text_field :gmap_lng, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
