<h1>Invite New User</h1>
<h3><%= @school_user.school.name %></h3>
<h3><%= @school_user.school.school_district.name %></h3>
<%= form_for @school_user, url: school_district_school_school_users_path(@school_user.school.school_district, @school_user.school, @school_user) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :role %>
    <%= f.select :role, [:staff, :admin], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Invite', class: 'btn btn-primary' %>
  </div>
<% end %>
