<%= form_for @student_daily_info do |f| %>
  <div class="form-group">
    <%= f.label :report_date, 'Date' %>
    <div class="form-inline"><%= f.date_select :report_date, {}, {class: 'form-control'} %></div>
  </div>

  <%= f.fields_for :student do |sf| %>
    <div class="form-group">
      <%= sf.label :school_id, 'School' %>
      <%= sf.select :school_id, options_from_collection_for_select(@schools, :id, :name), {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= sf.label :student_number, 'Student Identifier' %> <em>Do NOT use a personally identifiable ID like an SSN</em>
      <%= sf.text_field :student_number, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :grade %>
    <%= f.number_field :grade, class: 'form-control', step: 1 %>
  </div>

  <div class="form-group">
    <%= f.fields_for :student_reported_symptom do |srsf| %>
      <%= srsf.label :symptom_id, 'Symptoms' %> <em>Press ctrl to select multiple.</em>
      <%= srsf.select :symptom_id, options_from_collection_for_select(@symptoms, :id, :name, @student_daily_info.symptoms.map(&:id)), {}, multiple: true, size: 8, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <%= f.label :confirmed_illness do %>
        <%= f.check_box :confirmed_illness %> Confirmed Illness
      <% end %>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
