<div class="rollcall_report">
  <h1>Attendance Report</h1>
  <%- filtered = filters.present? ? "(FILTERED)" : "" -%>

  <% if entries %>

    <%- entries.map(){|a|a["tea_id"]}.uniq.each do |b| -%>

      <table cellpadding="0" class="zebra-striped">
        <caption style="text-align:center">
          <%= "Schools#{filtered} as of #{Time.now}" %>
        </caption>
        <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            TeaID
          </th>
          <th>
            Attendance
          </th>
          <th>
            Enrollment
          </th>
          <th>
            AbsenteePercentage
          </th>
          <th>
            Severity
          </th>
        </tr>
        </thead>
        <%- entries.map(){|c| c if c["tea_id"] == b}.compact.each_with_index do |d,i| -%>
          <tr class="<%= (i%2 > 0) ? 'Odd' : 'Even' %>">
            <td>
              <%= d["display_name"] %>
            </td>
            <td>
              <%= d["tea_id"] %>
            </td>
            <td>
              <%= d["total_absent"] %>
            </td>
            <td>
              <%= d["total_enrollment"] %>
            </td>
            <td>
              <%= d["absentee_percentage"] %>
            </td>
            <td>
              <%= d["severity"] %>
            </td>
          </tr>
        <%- end -%>
      </table>

    <%- end -%>

  <% end %>
</div>