<div class="rollcall_report">
  <h1>Schools Sending ILI Data</h1>
  <%- filtered = filters.present? ? "(FILTERED)" : "" -%>

  <% if entries %>
    <table cellspacing="0" class="zebra-striped">
      <caption style="text-align:center">
        <%= "Schools#{filtered} as of #{Time.now}" %>
      </caption>
      <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          TeaID
        </th>
        <th>
          TotalReportedStudents
        </th>
        <th>
          TotalReportedSymptoms
        </th>
      </tr>
      </thead>
      <div class="nobreak">
        <%- entries.each_with_index do |r,i| -%>
          <tr class="<%= (i%2 > 0) ? 'Odd' : 'Even' %>">
            <td>
              <%= r["display_name"] %>
            </td>
            <td>
              <%= r["tea_id"] %>
            </td>
            <td>
              <%= r["total_students"] %>
            </td>
            <td>
              <%= r["total_symptoms"] %>
            </td>
          </tr>
        <%- end -%>
      </div>
    </table>
  <% end %>

</div>